<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">Traiders</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button color="primary" fill="outline" size="full" shape="round">Login</ion-button>
        <ion-button color="primary" fill="outline" size="full" shape="round">Register</ion-button>
        <ion-button color="medium" fill="clear" size="full">Forgot email or password</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
