<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>  
    <ion-title class="bold-title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="card-title" color="primary">회원 정보</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">닉네임 (표시되는 이름)</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">이메일 주소 (로그인 아이디)</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">비밀번호</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">비밀번호 확인</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">휴대폰 번호 (비밀번호 분실시 확인)</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
    </ion-card-content>>

  </ion-card>
  <ion-button size="block" fill="outline" (click)="register()">등록</ion-button>

</ion-content>
