<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>  
    <ion-title class="bold-title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/avatar/mina.png"/>
      </ion-avatar>
      <ion-label>
        <h2>김단발</h2>
        <p>보유 스크리너 : <span class="rise money">3</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-screener-summary></app-screener-summary>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="log-out-outline" fill="outline" (click)='logout()'></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add-outline" fill="outline" (click)='screener()'></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
