<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">스크리너 이름</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>거래소</ion-label>
    <ion-select multiple="true" cancelText="닫기" okText="확인">
      <ion-select-option value="nasdaq">미국, NASDAQ(나스닥)</ion-select-option>
      <ion-select-option value="nyse">미국, NYSE(뉴욕)</ion-select-option>
      <ion-select-option value="amex">미국, AMEX(아멕스)</ion-select-option>
      <ion-select-option value="kospi">한국, KOSPI(코스피)</ion-select-option>
      <ion-select-option value="kosdaq">한국, KOSDAQ(코스닥)</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>섹터</ion-label>
    <ion-select multiple="true" cancelText="닫기" okText="확인">
      <ion-select-option value="energy">에너지, 친환경</ion-select-option>
      <ion-select-option value="finance">금융, 보험, 투자</ion-select-option>
      <ion-select-option value="healthcare">헬스케어, 건강</ion-select-option>
      <ion-select-option value="tech">IT, 기술</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>기술지표</ion-label>
    <ion-select multiple="true" cancelText="닫기" okText="확인">
      <ion-select-option value="macd">MACD 골든크로스</ion-select-option>
      <ion-select-option value="kdj">KDJ 초과매도</ion-select-option>
      <ion-select-option value="rsi">RSI24 초과매도</ion-select-option>
      <ion-select-option value="tws">적삼병(Three White Soldiers)</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item> 
    <ion-label>PER(주가수익비율)</ion-label>
    <ion-range class="dual-range" dual-knobs pin color="primary" (click)=f>
      <ion-icon slot="start" size="small" name="brush"></ion-icon>
      <ion-icon slot="end" name="brush"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item> 
    <ion-label>Volume(거래량)</ion-label>
    <ion-range class="dual-range" dual-knobs pin color="primary" (click)=f>
      <ion-icon slot="start" size="small" name="brush"></ion-icon>
      <ion-icon slot="end" name="brush"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item> 
    <ion-label>ROE(자기자본이익률)</ion-label>
    <ion-range class="dual-range" dual-knobs pin color="primary" (click)=f>
      <ion-icon slot="start" size="small" name="brush"></ion-icon>
      <ion-icon slot="end" name="brush"></ion-icon>
    </ion-range>
  </ion-item>

</ion-content>


